<div class="row col-12 m-0 p-0">

    <div class="col-4 p-0">
        <h3 style="font-size: 22px;
                   font-family: 'Poppins', sans-serif;
                   font-weight: 500;">
            Order
        </h3>
    </div>

    <div class="col-4 p-0 text-center">
        <nz-range-picker (ngModel)="date" (ngModelChange)="onChange($event)"></nz-range-picker>
    </div>

    <div class="row col-4 ml-0 p-0 justify-content-end">
        <button class="btn-default" nz-button><i nz-icon nzType="printer" nzTheme="outline"></i>พิมพ์</button>

        <button class="btn-default ml-2" nz-button>จัดการหลายออเดอร์</button>

        <button class="create-order ml-2" nz-button>สร้างออเดอร์</button>

    </div>

</div>

<nz-tabset>

    <nz-tab nzTitle="List View">

        <!-- Filter -->
        <div class="filter-select row col-12 p-0 justify-content-end">

            <div style="color: #000000a6;
                        padding-top: 4px;
                        ">Filter</div>

            <nz-select [(ngModel)]="model_search.status" (ngModelChange)="Selected($event)">
                <nz-option [nzValue]="''" nzLabel="ทุกสถานะ"></nz-option>
                <nz-option [nzValue]="-1" nzLabel="ยกเลิก"></nz-option>
                <nz-option [nzValue]="1" nzLabel="รอชำระเงิน"></nz-option>
                <nz-option [nzValue]="2" nzLabel="ได้รับเงิน"></nz-option>
                <nz-option [nzValue]="3" nzLabel="จัดเตรียมสินค้า"></nz-option>
                <nz-option [nzValue]="4" nzLabel="จัดส่ง"></nz-option>
                <nz-option [nzValue]="5" nzLabel="เสร็จสิ้น"></nz-option>
            </nz-select>

            <nz-select [(ngModel)]="model_search.channel" (ngModelChange)="Selected($event)">
                <nz-option [nzValue]="''" nzLabel="ทุกช่องทางขาย"></nz-option>
                <nz-option [nzValue]="'facebook'" nzLabel="Facebook"></nz-option>
                <nz-option [nzValue]="'line@'" nzLabel="Line@"></nz-option>
                <nz-option [nzValue]="'line'" nzLabel="Line"></nz-option>
                <nz-option [nzValue]="'instagram'" nzLabel="Instagram"></nz-option>
                <nz-option [nzValue]="'twitter'" nzLabel="Twitter"></nz-option>
                <nz-option [nzValue]="'wechat'" nzLabel="Wechat"></nz-option>
                <nz-option [nzValue]="'website'" nzLabel="Web Site"></nz-option>
            </nz-select>

            <nz-select [(ngModel)]="model_search.paymenttype" (ngModelChange)="Selected($event)">
                <nz-option [nzValue]="''" nzLabel="ทุกการชำระเงิน"></nz-option>
                <nz-option [nzValue]="1" nzLabel="ชำระเงินสด"></nz-option>
                <nz-option [nzValue]="2" nzLabel="โอนเงินผ่านธนาคาร"></nz-option>
                <nz-option [nzValue]="3" nzLabel="Credit Card"></nz-option>
                <nz-option [nzValue]="5" nzLabel="QR Code"></nz-option>
                <nz-option [nzValue]="4" nzLabel="เก็บเงินปลายทาง"></nz-option>
            </nz-select>

            <nz-select class="mr-2" [(ngModel)]="model_search.created_by">
                <nz-option [nzValue]="''" nzLabel="Created By"></nz-option>
                <nz-option [nzValue]="obj.created_by" nzLabel="{{obj.created_by}}" *ngFor="let obj of listorder">
                </nz-option>
            </nz-select>

            <button nz-button class="btn-export">
                <span><i class="fas fa-file-excel"></i> EXPORT </span>
            </button>

        </div>

        <!-- Order-detail -->
        <nz-table class="table" style="border-top: 1px solid #f0f0f0;" [nzData]="listorder" [nzShowPagination]="false">
            <thead>
                <tr style="color: #00000073;">
                    <!-- link -->
                    <th class="text-center align-middle">
                        <div>Link</div>
                    </th>

                    <!-- Channel -->
                    <th class="text-center align-middle">
                        <div>
                            Channel
                            <i nz-icon nzType="info-circle" nzTheme="outline" nz-popover nzPopoverTrigger="click"
                                [nzPopoverContent]="channelTemplate" nzPopoverPlacement="bottom"
                                style="cursor: pointer;">
                            </i>
                            <ng-template #channelTemplate>
                                <div style="color: #000000a6;
                                            width: 180px;
                                            font-weight: 400;">
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-website.png" alt=""
                                                style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Website
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-app.png" alt="" style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Application
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-shopee.png" alt="" style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Shopee
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-facebook.png" alt=""
                                                style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Facebook
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-line.png" alt="" style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Line
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-lineat.png" alt="" style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Line@
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-instagram.png" alt=""
                                                style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Instagram
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-twitter.png" alt=""
                                                style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Twitter
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-wechat.png" alt="" style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Wechat
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-auto">
                                            <img src="/assets/images/channel/ch-ket-market.png" alt=""
                                                style="width: 25px;">
                                        </div>
                                        <div class="col pl-0 align-self-center">
                                            Ket-market
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </th>

                    <!-- Order no -->
                    <th>
                        <div>
                            <input nz-input nzSize="small" placeholder="Order no." style="max-width: 120px;"
                                [(ngModel)]="model_search.ordercode" (ngModelChange)="Selected($event)">
                        </div>
                    </th>

                    <!-- Status -->
                    <th class="text-center align-middle">
                        <div>
                            Status
                            <i nz-icon nzType="info-circle" nzTheme="outline" nz-popover nzPopoverTrigger="click"
                                [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom"
                                style="cursor: pointer;"></i>
                        </div>
                        <ng-template #contentTemplate>
                            <div style="color: #000000a6;">
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/status/order-status1.png" alt="" style="width: 28px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        รอชำระเงิน
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/status/order-status2.png" alt="" style="width: 28px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        ได้รับเงิน
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/status/order-status3.png" alt="" style="width: 28px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        จัดเตรียมสินค้า
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/status/order-status4.png" alt="" style="width: 28px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        จัดส่ง
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/status/order-success.png" alt="" style="width: 28px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        เสร็จสิ้น
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/status/order-status5.png" alt="" style="width: 28px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        ยกเลิก
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </th>

                    <!-- Name / Email -->
                    <th>
                        <div>
                            <input nz-input="" nzSize="small" placeholder="ชื่อ หรืออีเมล" style="max-width: 150px;"
                                [(ngModel)]="model_search.name" (ngModelChange)="Selected($event)">
                        </div>
                    </th>

                    <!-- ยอดชำระ -->
                    <th class="text-right">
                        <input nz-input="" nzsize="small" oninput="this.value = this.value.replace(/[^0-9\.]/g, '');"
                            placeholder="ยอดชำระ" style="max-width: 110px;"
                            class="ant-input ant-input-sm ng-untouched ng-pristine ng-valid"
                            [(ngModel)]="model_search.totals" (ngModelChange)="Selected($event)">
                    </th>

                    <!-- Pay -->
                    <th>
                        <div>
                            Pay
                            <i nz-icon nzType="info-circle" nzTheme="outline" nz-popover nzPopoverTrigger="click"
                                [nzPopoverContent]="payTemplate" nzPopoverPlacement="bottom"
                                style="cursor: pointer;"></i>
                        </div>
                        <ng-template #payTemplate>
                            <div style="color: #000000a6;
                                        width: 180px;
                                        font-weight: 400;">
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/pay/payment-cash.png" alt="" style="width: 25px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        ชำระเงินสด
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/pay/payment-transfer.png" alt="" style="width: 25px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        โอนเงินผ่านธนาคาร
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/pay/payment-credit.png" alt="" style="width: 25px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        Credit card
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/pay/payment-qrcode.png" alt="" style="width: 25px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        QR Code
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto">
                                        <img src="/assets/images/pay/payment-cod.png" alt="" style="width: 25px;">
                                    </div>
                                    <div class="col pl-0 align-self-center">
                                        เก็บเงินปลายทาง
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </th>

                    <!-- Shipping -->
                    <!-- <th>Shipping</th> -->

                    <!-- Tracking Code -->
                    <th><input nz-input="" nzsize="small" placeholder="Tracking Code" style="max-width: 150px;"
                            class="ant-input ant-input-sm ng-untouched ng-pristine ng-valid"
                            [(ngModel)]="model_search.trackcode" (ngModelChange)="Selected($event)">
                    </th>

                    <!-- Button -->
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let obj of listorder" style="color: #000000d9;">

                    <!-- Link -->
                    <td class="text-center align-middle">
                        <div nz-tooltip nzTooltipTitle="คัดลอก link สำหรับลูกค้า" nzTooltipPlacement="top"
                            style="cursor: pointer;">
                            <i class="fa fa-link fa-lg" style="transform: rotate(90deg);"></i>
                        </div>
                    </td>

                    <!-- Channel -->
                    <td class="text-center align-middle">
                        <!-- <div><img src="https://uat.ketshoptest.com/{{obj.from_social?.img}}" alt="..."
                                style="width: 26px;"></div> -->

                        <!-- Facebook -->
                        <div *ngIf="obj.channel == 'facebook'">
                            <img src="/assets/images/channel/ch-facebook.png" alt="" style="width: 26px;">
                        </div>

                        <!-- Line@ -->
                        <div *ngIf="obj.channel == 'line@'">
                            <img src="/assets/images/channel/ch-lineat.png" alt="" style="width: 26px;">
                        </div>

                        <!-- Line -->
                        <div *ngIf="obj.channel == 'line'">
                            <img src="/assets/images/channel/ch-line.png" alt="" style="width: 26px;">
                        </div>

                        <!-- Instagram -->
                        <div *ngIf="obj.channel == 'instagram'">
                            <img src="/assets/images/channel/ch-instagram.png" alt="" style="width: 26px;">
                        </div>

                        <!-- Twetter -->
                        <div *ngIf="obj.channel == 'twetter'">
                            <img src="/assets/images/channel/ch-twitter.png" alt="" style="width: 26px;">
                        </div>

                        <!-- Wechat -->
                        <div *ngIf="obj.channel == 'wechat'">
                            <img src="/assets/images/channel/ch-wechat.png" alt="" style="width: 26px;">
                        </div>

                        <!-- Website -->
                        <div *ngIf="obj.channel == 'website'">
                            <img src="/assets/images/channel/ch-website.png" alt="" style="width: 26px;">
                        </div>
                    </td>

                    <!-- Order no. -->
                    <td class="align-middle">
                        <nz-tag [nzColor]="'cyan'">
                            {{obj.ordercode}}
                        </nz-tag> <br>

                        <span style="
                                color: #00000073;
                                font-size: 12px;">
                            {{obj.order_date}}
                        </span>
                    </td>

                    <!-- Status -->
                    <td class="text-center align-middle">
                        <!-- รอชำระเงิน -->
                        <div nz-popover [nzPopoverContent]="TimelineTemplate" nzPopoverPlacement="right"
                            *ngIf="obj.status == 1">
                            <img src="/assets/images/status/order-status1.png" alt="" style="width: 28px;">
                        </div>

                        <!-- ได้รับเงิน -->
                        <div nz-popover [nzPopoverContent]="TimelineTemplate" nzPopoverPlacement="right"
                            *ngIf="obj.status == 2">
                            <img src="/assets/images/status/order-status2.png" alt="" style="width: 28px;">
                        </div>

                        <!-- จัดเตรียมสินค้า -->
                        <div nz-popover [nzPopoverContent]="TimelineTemplate" nzPopoverPlacement="right"
                            *ngIf="obj.status == 3">
                            <img src="/assets/images/status/order-status3.png" alt="" style="width: 28px;">
                        </div>

                        <!-- จัดส่ง -->
                        <div nz-popover [nzPopoverContent]="TimelineTemplate" nzPopoverPlacement="right"
                            *ngIf="obj.status == 4">
                            <img src="/assets/images/status/order-status4.png" alt="" style="width: 28px;">
                        </div>

                        <!-- ยกเลิก -->
                        <div nz-popover [nzPopoverContent]="TimelineTemplate" nzPopoverPlacement="right"
                            *ngIf="obj.status == -1">
                            <img src="/assets/images/status/order-status5.png" alt="" style="width: 28px;">
                        </div>

                        <!-- <div nz-popover nzPopoverContent="เสร็จสิ้น"
                            nzPopoverPlacement="right" *ngIf="obj.status == ">
                            <img src="/assets/images/status/order-success" alt="" style="width: 26px;">
                        </div> -->

                        <!-- payment -->
                        <ng-template #TimelineTemplate>

                            <nz-steps nzCurrent="{{obj.status}}" nzProgressDot nzDirection="vertical">

                                <nz-step *ngFor="let step of obj.status_timeline" nzTitle="{{step.name}}"
                                    [nzDescription]="description" nzStatus="{{step.process}}">
                                    <ng-template #description>
                                        <div style="font-size: 12px;">
                                            <span>{{step.datetime == '-'? '':step.datetime}}</span><br>
                                            <span>{{step.created_by == ''? '':'โดย: '+step.created_by}}</span>
                                        </div>
                                    </ng-template>
                                </nz-step>

                            </nz-steps>
                        </ng-template>

                    </td>

                    <!-- Name / Email -->
                    <td class="align-middle">
                        <div style="
                            font-size: 13px;
                            font-weight: 400;
                            letter-spacing: .018em;
                            color: #000000d9;">
                            <!-- {{ obj.bill_name }} {{ obj.bill_lastname }} -->
                            {{obj.name}}
                        </div>

                        <div style="
                                font-size: 12px;
                                color: #00000073;">
                            {{obj.username}}
                        </div>
                    </td>

                    <!-- ยอดชำระ -->
                    <td class="text-right align-middle">
                        <nz-tag class="mr-0" [nzColor]="'green'">{{obj.totals | currency: ' '}}</nz-tag>
                    </td>

                    <!-- Pay -->
                    <td class="text-center align-middle">
                        <div *ngIf="obj?.paymenttype?.id == 1" nz-tooltip nzTooltipTitle="ชำระเงินสด"
                            nzTooltipPlacement="top">
                            <img src="/assets/images/pay/payment-cash.png" alt="" style="width: 28px;">
                        </div>

                        <div *ngIf="obj?.paymenttype?.id == 2" nz-tooltip nzTooltipTitle="โอนผ่านธนาคาร"
                            nzTooltipPlacement="top">
                            <img src="/assets/images/pay/payment-transfer.png" alt="" style="width: 28px;">
                        </div>

                        <div *ngIf="obj?.paymenttype?.id == 3" nz-tooltip nzTooltipTitle="Credit Card"
                            nzTooltipPlacement="top">
                            <img src="/assets/images/pay/payment-credit.png" alt="" style="width: 28px;">
                        </div>

                        <div *ngIf="obj?.paymenttype?.id == 4" nz-tooltip nzTooltipTitle="เก็บเงินปลายทาง"
                            nzTooltipPlacement="top">
                            <img src="/assets/images/pay/payment-cod.png" alt="" style="width: 28px;">
                        </div>

                        <div *ngIf="obj?.paymenttype?.id == 5" nz-tooltip nzTooltipTitle="QR code"
                            nzTooltipPlacement="top">
                            <img src="/assets/images/pay/payment-qrcode.png" alt="" style="width: 28px;">
                        </div>
                    </td>

                    <!-- Shipping -->
                    <!-- <td class="text-center align-middle">
                        <div *ngIf="obj?.delivery?.logo">
                            <img src="https://uat.ketshoptest.com/{{obj.delivery.logo}}" alt="..." style="max-width: 100%;
                                       width: 80px;
                                       height: 30px;
                                       object-fit: cover;
                                       border-radius: 5px;">
                        </div>
                    </td> -->

                    <!-- Tracking COD -->
                    <td class="align-middle">
                        <div class="trackingcode row">
                            <!-- logo -->
                            <div *ngIf="obj?.delivery?.logo">
                                <img src="https://uat.ketshoptest.com/{{obj.delivery.logo}}" alt="..." style="max-width: 100%;
                                           width: 70px;
                                           height: 28px;
                                           object-fit: cover;
                                           border-radius: 3px;">
                            </div>
                            <!-- Type & COD -->
                            <div class="col pl-2 pr-0 align-self-center" style="height: 29px;"
                                *ngIf="obj.delivery?.type !== null">
                                <!-- <p style="margin: 0;
                                          font-size: 10px;
                                          color: #00000073;
                                          margin-bottom: 0;">
                                    <span>{{obj.delivery?.type == null? '':'ขนส่ง ' + obj.delivery.type}}</span>
                                    <span class="badge-type-dlvr" *ngIf="obj.delivery?.cod == true">COD</span>
                                </p> -->

                                <span style="margin: 0;
                                             font-size: 10px;
                                             color: #00000073;
                                             margin-bottom: 0;">
                                    <p class="mb-0" style="line-height: 10px;">
                                        {{obj.delivery?.type == null? '':'ขนส่ง ' + obj.delivery.type}}
                                        <span class="badge-type-dlvr" *ngIf="obj.delivery?.cod == true">COD</span>
                                    </p>
                                </span>

                                <!-- DeliveryName -->
                                <span style="font-size: 13px;
                                             font-weight: 400;">
                                    {{obj.delivery?.name}}
                                </span>
                            </div>


                        </div>

                        <!-- จัดส่งฟรี -->
                        <div class="col-12 mt-1 px-0" *ngIf="obj.trackcode !== '' && obj.trackcode !== null">
                            <span class="badge-tracking">
                                {{obj.trackcode}}
                                <span nz-tooltip nzTooltipTitle="คัดลอก Tracking" nzTooltipPlacement="top" style="background-color: #fff;
                                             color: #00000073;
                                             padding: 0px 2px;
                                             border-radius: 3px;
                                             font-size: 10px;
                                             cursor: pointer;
                                             margin-left: 4px;">
                                    <i class="far fa-clone" style="transform: rotate(90deg);"></i>
                                </span>
                            </span>
                        </div>
                        <div *ngIf="obj.delivery == null">
                            <span class="badge-tracking">
                                <i class="fas fa-check-circle"></i>
                                <span>
                                    เงื่อนไขจัดส่งฟรี
                                </span>
                            </span>
                        </div>
                    </td>

                    <!-- Button -->
                    <td class="text-right align-middle p-0">
                        <button class="btn btn-tmt-act btn-tmt-act-ed" nz-tooltip="" nztitle="โคลนออเดอร์">
                            <i class="fa fa-clone" style="transform: rotate(90deg);"></i>
                        </button>

                        <button class="btn btn-tmt-act btn-tmt-act-ed ml-2" (click)="edit()">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <div>
            <nz-pagination [nzPageIndex]="1" [nzTotal]="Itemcount" [nzPageSize]="10" [nzShowTotal]="rangeTemplate"
                (nzPageIndexChange)="onPageIndexChange($event)" id="demo"></nz-pagination>
            <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }} items
            </ng-template>
        </div>

    </nz-tab>

    <nz-tab nzTitle="Status View">
        <!-- <nz-demo-tab-content-eagerly></nz-demo-tab-content-eagerly> -->
    </nz-tab>


</nz-tabset>